@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
/*滚动条滑块*/
::-webkit-scrollbar-thumb{
    background: #c7c4c4;
}
/*滚动条的小边角*/
::-webkit-scrollbar-corner {
    background: transparent;
}